---
    const obj =  {           prop: false  }
  
---
<h1>
    {obj.prop}
</h1><h1>
    {obj.prop}
</h1><h1>
    {obj.prop}
</h1><h1>
    {obj.prop}
</h1><h1>
  h1><h1>
    {obj.prop}
</h1><h32769><h1>
    {obj.prop}
</h1></h1>